[Desktop Entry]
Type=Application
Name=Linux System Viewer
Comment=Linux System Viewer - A comprehensive system information tool
Icon=lsv
Categories=System;Administration;
Keywords=system;info;hardware;monitoring;lshw;
StartupNotify=true
Exec=/usr/bin/LSV %U
Terminal=false