[Desktop Entry]
Type=Application
Name=Linux System Viewer
Comment=Linux System Viewer - A comprehensive system information tool
Icon=lsv
Categories=Utility;System;Settings;
Keywords=system;info;hardware;monitoring;lshw;preferences;settings;admin;
StartupWMClass=LSV
StartupNotify=true
Exec=/usr/bin/LSV %U
TryExec=/usr/bin/LSV
Terminal=false

Actions=ChangeLanguage;ResetLanguage;

[Desktop Action ChangeLanguage]
Name=Change language...
Exec=/usr/bin/LSV --choose-lang

[Desktop Action ResetLanguage]
Name=Reset language
Exec=/usr/bin/LSV --reset-lang